.big-font {
  color: black;
  font-weight: 700;
  font-size: 25px;
 
  }
 
  .green-dollar {
   color: rgb(0, 118, 0);
   font-weight: 600;
   font-size: 20px;
  }
 
  .add-cart {
   background-color: rgb(255, 216, 20);
   border: none;
   height: 30px;
   width: 100px;
   border-radius: 15px;
   font-weight: 700;
   cursor: pointer;
   transition: opacity 0.3s;
   
  }
 
 
  .buy-now  {
   background-color: rgb(255, 164, 28);
   border: none;
   font-weight: 700;
   height: 30px;
   width: 80px;
   border-radius: 15px;
   cursor: pointer;
   margin-left: 20px;
  }
 
  .add-cart:hover {
   background-color: rgb(255, 216, 20);
   opacity: 0.8;
    }
 
  .add-cart:active {
   opacity: 0.6;
  }
 
  .buy-now:hover {
   opacity: 0.8;
  }
 
 .buy-now:active {
   opacity: 0.5;
 }